@font-face {
  font-family: "SeoulHangangM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "S-CoreDream-4Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "S-CoreDream-5Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "S-CoreDream-6Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-400Regular";
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-500Medium";
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* 색상 */
  /* --color-primary: #accebc; */
  --color-primary: #84b9c0;
  /* --color-background: #eaf2ea; */
  --color-background: #ffffff;
  --color-warning: #ff7272;
  --color-darkgrey: #c0bcbc;
  --color-lightgrey: #f6f6f6;
  --color-grey: #eeefec;
  --color-grey-light: #cfcece;
  --color-grey-dark: #3f403a;
  --color-black: #222222;
  --color-white: #ffffffd4;
  --color-naver: #03c75a;
  --color-yellow-light: #fcfee6;
  --color-yellow-dark: #ffe697;
  --color-green-light: #84b9c0;
  --color-green-dark: #48767b;
  --color-green-dark2: #2b7799;
  --color-blue-light: #c5d7f2;
  --color-red: #e26559;
  --color-brown-dark: #8b7574;

  /* Font */

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Annimation */
  --animation-duration: 400ms;
}

.App {
  text-align: left;
  overflow-x: hidden;
  color: var(--color-black);
  font-family: "S-CoreDream-3Light";
  font-size: 15px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
