:root {
  /* Color */
  --color-facebook: #3b5998;
  --color-google: #ffffff;
  --color-kakao: #ffeb00;
  --color-border-line: #222222;

  /* Size */
  --size-border-radius: 100;
  --size-border-thickness: 1px;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Annimation */
  --animation-duration: 400ms;
}

.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.login a {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 250px;
  height: 40px;
  text-decoration: none;
  border-radius: 100px;
  border: var(--size-border-thickness) solid var(--color-border-line);
  margin: 13%;
  font-size: var(--font-regular);
}

.login a:hover {
  filter: brightness(0.8);
  transition: var(--animation-duration);
}

.login__btn__facebook {
  background-color: var(--color-facebook);
  color: white;
}

.login__btn__google {
  background-color: var(--color-google);
}

.login__btn__kakao {
  background-color: var(--color-kakao);
}
