:root {
  /* Color */
  --color-gray: #F7F7F7;

  /* Size */
  --size-border-radius: 10px;
}

.rectangle {
  /* Rectangle 129 */
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 300px;
  height: 300px;
  background: var(--color-gray);
  border-radius: var(--size-border-radius);
}

textarea {
  outline: none;
  background-color: transparent;
  border: none;
  width: max-content;
  height: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
}

textarea:focus {
  outline: none;
}

.btn {
  left: 5.13%;
  right: 5.13%;
  top: 15.52%;
  bottom: 60.75%;
}